/* universal selector use here */
*{
    margin: 0;
    padding: 0;
}
/*====some common style used here for use full project start===  */
body{
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    background-color: #f1efef;
    color: #111111;
    border-radius: 5px;
    padding: 17px;
    font-size: 18px;
    border: 0;
}
/*====some common style used here for use full project end===  */

/* ----header section style use start here---- */
nav{
    background-color: #d1d3d3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}
.logo-part{
    display: flex;
    align-items: center;
}
.sub-logo{
    font-size: 18px;
    font-weight: 600;
    color: cyan;
}
.main-logo{
    width: 200px;
}
/* menu area style use here */
.menu-container{
    display: flex;
}
.menu-container li{
    list-style: none;
    margin-right: 10px;
    padding: 10px;
}
.menu-container > li > a{
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    color: #282727e1;
    font-weight: 600;
}
.menu-container > li > a:hover{
    color: #b9d2e0;
}
/* ----header section style use end here---- */

/* ----banner section style use start here---- */
.banner-container{
    height: 100vh;
    background-image: url('../asset/image/background.jpg'),linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-for-banner{
    font-size: 80px;
    font-weight: 900;
    color: white;
    margin: 0 0 0 400px;
}
.banner-sub-title{
    color: #f52c2c;
}
.banner-decs{
    font-size: 22px;
    color: white;
    margin-bottom: 0px;
    padding: 10px;
    width: 50%;
    margin: auto;
}
.button-item{
    text-align: center;
    margin-top: 20px;
    
}
.btn-one-for-banner{
    background-color: #f52c2c;
    color: white;
    margin-right: 10px;
}
/* ----banner section style use end here---- */