/* universal selector use here */
*{
    margin: 0;
    padding: 0;
}
/*====some common style used here for use full project start===  */
body{
    font-family: 'Work Sans', sans-serif;
    color: #ffffff;
}
.btn-primary{
    background-color: #f1efef;
    color: #111111;
    border-radius: 5px;
    padding: 17px;
    font-size: 18px;
    border: 0;
    cursor: pointer;
}
.sub-title{
    color: #f52c2c;
}
/*====some common style used here for use full project end===  */

/* ----header section style use start here---- */
nav{
    background-color: #d1d3d3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
}
.logo-part{
    display: flex;
    align-items: center;
}
.sub-logo{
    font-size: 18px;
    font-weight: 600;
    color: cyan;
}
.main-logo{
    width: 200px;
}
/* menu area style use here */
.menu-container{
    display: flex;
}
.menu-container li{
    list-style: none;
    margin-right: 10px;
    padding: 10px;
}
.menu-container > li > a{
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    color: #282727e1;
    font-weight: 600;
}
.menu-container > li > a:hover{
    color: #15adad;
}
/* ----header section style use end here---- */

/* ----banner section style use start here---- */
.banner-container{
    height: 100vh;
    background-image: url('../asset/image/background.jpg'),linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
    /* background-size: cover; */
    background-position: center;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-for-banner{
    font-size: 80px;
    font-weight: 900;
    color: white;
    width: 55%;
    margin-left: 330px;
}
.banner-decs{
    font-size: 22px;
    color: white;
    margin-bottom: 0px;
    padding: 10px;
    width: 50%;
    margin: auto;
}
.button-item{
    text-align: center;
    margin-top: 20px;
    
}
.btn-one-for-banner{
    background-color: #f52c2c;
    color: white;
    margin-right: 10px;
}
/* ----banner section style use end here---- */

/* ----service section style use start here---- */
.service-section{
    height: 700px;
    background-image: url('../asset/image/footer-bg.png'),linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
    background-blend-mode: overlay;
    display: flex;
    justify-content: space-between;
}
.service-content{
    width: 42%;
    padding: 100px 0 0 47px;
}
.service-btn{
    padding: 15px 30px;
    border-radius: 50px;
    margin-bottom: 25px;
    cursor: pointer;
}
.service-title{
    font-size: 35px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 30px;
}
.service-decs{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 30px;
}
.service-order-list{
    margin: 0 0 40px 20px;
    line-height: 25px;
}
.profile-info{
    display: flex;
    align-items: center;
}
.myself{
    display: flex;
    gap: 5px;
    align-items: center;
    line-height: 20px;
    border-right: 1px solid #f1471c;
    padding-right: 93px;

}
.profile-photo{
    width: 75px;
    border-radius: 50px;
}
.details-btn{
    padding: 15px 20px;
    border-radius: 50px;
    color: #db572d;
    cursor: pointer;
    font-size: 14px;
    margin-left: 5px;
}
.service-box{
    display: flex;
    margin: 15px 14px 45px 0;
}
.box-main-part{
    background: white;
    width: 250px;
    height: 250px;
    color: #000;
    text-align: center;
    line-height: 34px;
    border-radius: 10px;
    margin: 15px;
}
.box-icon{
    width: 100px;
    padding-top: 50px;
}
/* ----service section style use end here---- */

/* ----appointment section style use start here---- */
.appointment-section{
    background: #e72a2a;
    width: 80%;
    margin: auto;
    border-radius: 20px;
    margin-top: -80px;
    display: flex;
    align-items: center;
    padding: 25px 20px;
    margin-bottom: 50px;
}
.call-part{
    display: flex;
    gap: 10px;
}
.appoin-call-icon{
    width: 80px;
}
.short-info{
    border-right: 2px solid gray;
    padding-right: 20px;
}
.appointment-decs-part{
    padding: 0 19px;
}
.appointment-btn{
    background-color: #f1efef;
    color: #111111;
    font-size: 12px;
    padding: 13px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
}
/* ----appointment section style use end here---- */

/* ----blog section style use start here---- */
.blog-section{
    color: #000;
}
.blog-head-area{
    margin-bottom: 60px;
}
.blog-title{
    text-align: center;
    font-size: 45px;
    margin-bottom: 15px;
    margin-top: 0px;
}
.blog-decs{
    font-size: 23px;
    width: 70%;
    margin: auto;
    text-align: center;
}
.blog-box-area{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.box-item{
    width: 350px;
    height: 380px;
    background-color: #ffffff;
    box-shadow: 4px 4px 9px gray;
    border-radius: 10px;
}
.box-photo{
    width: 350px;
    height:200px;
    border-radius: 10px 10px 0 0;
}
.box-heading{
    padding: 15px;
    color: #6e6d6d;
    font-size: 23px;
}
.box-decs{
    padding: 0 18px 0 15px;
    color: #6e6d6d;
    line-height: 22px;
}
/* ----blog section style use end here---- */
